*{
    margin: 0;
    font-family: sans-serif;
}
.header{
    display: flex;
    justify-content: space-around;
    margin: 20px;
   
}
.head1{
    margin-top: 20px;
}
.head2{
    display: flex;
    margin-top: 30px;
    gap: 30px;
    
}
.head4{
    background-color: black;
    color: white;
    width: 100px;
    padding-top: 10px;
    height: 30px;
    border-radius: 7px;
    text-align: center;
    margin-top: 10px;
}
.a{
     background-color: black;
    color: white;
    width: 150px;
    padding-top: 10px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    margin-top: 20px;
}
.card {
    width: 400px;
    
    
}
.divlink{
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
    margin: 100px;
    gap: 100px;
   
}

.card h1{
    margin-bottom: 20px;
    font-size: 40px;
}
.card p{
    color: rgb(167, 165, 165);
}
.image{
    position: relative;
    left: 50px; 
    top: 20px;  
}
.image{
    display: flex;
    gap: 20px;
    align-items: start;
    
}
.c{
    margin-top: 80px; 
}
.section{
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 100px;

}
.hot{
    width: 550px;
    margin-top: 100px;

}
.r{
    width: 350px;
    height: 500px;
}
.t{
    margin-top: 30px;
}
.w{
    background-color: black;
    color: white;
    width: 150px;
    padding-top: 10px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    margin-top: 20px;
}
.hot h1{
    margin-bottom: 30px;

}
.u{
    color: grey;
}
.t{
    color: grey;
}
.food1{
    width: 500px;
    margin-top: 100px;
}
.food1 p{
    color: grey;
    margin-top: 20px;
}
.food2 img{
    width: 300px;
    height: 300px;
    
}
.food{
    display: flex;
    margin-top:100px ;
    justify-content: center;
    gap: 150px;
    
}
.good1 img{
    width: 300px;
    height: 300px;
}
.good2{
    width: 500px;
    margin-top: 100px;

}
.good{
    display: flex;
    margin-top:50px ;
    justify-content: center;
    gap: 150px;
    
}
.good2 p{
    color: grey;
    margin-top: 20px;
}
.cont1{
    width: 500px;
    text-align: center;
}

.place{
    background-color: black;
    color: white;
    width: 150px;
    padding-top: 10px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    margin-left: 170px;
    margin-top: 30px;

}
.cont1 h1{
    margin-bottom: 20px;
   


}
.work{
    color: rgb(90, 88, 88);
}
.cont{
 margin-left: 500px;
 margin-top: 100px;
  

}
.card1 img{
    width: 300px;
    height: 350px;
    

}
.card1  p{
    width: 300px;
    color: grey;
}
.card1 h1{
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;

}
.lo{
    margin-top: 40px;
    
}
.carda{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 100px;
}
.lost1 p{
    color: rgb(175, 172, 172);
    margin-bottom: 10px;
    


}
.lost{
    margin-top: 100px;
    margin-left: 200px;
}
.lost1 h1{
    margin-bottom: 20px;
}
.h{
    background-color: black;
    color: white;
    width: 80px;
    height: 20px;
    padding: 10px;

}
.yes{
    width: 300px;
}
.yo{
    display: flex;
    gap: 30px;
    margin-top:30px ;
}


.main {
    width: 100%;
}


.kartochka {
    background-color: #ffffff;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    margin-top:50px;
    width: 500px;
}


.sar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sar h3 {
    margin: 0;
    color: #2c3e6b;
    font-size: 18px;
}









.matn {
    margin-top: 15px;
    
    padding-top: 15px;
}

.matn p {
    margin: 0;
    color: #7a869a;
    font-size: 15px;
    line-height: 1.5;
}
.yooo{
    display: flex;
    gap: 300px;
}
.do1 p{


}
.do1 img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}


.final {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 60px 20px;
    background-color: #ffffff;
}


.final h2 {
    color: #0b1d33;
    font-size: 32px;
    margin-bottom: 30px;
    font-family: sans-serif;
}


.user img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    
    margin-bottom: 20px;
}


.text {
     
    color: #6b7280;
    font-size: 16px;
    width: 600px;
    margin-bottom: 20px;
   
}


.name {
    color: #0b1d33;
    font-size: 18px;
    
    margin-bottom: 20px;
   
}


.dons {
    display: flex;
    gap: 8px; 
}


.don {
    width: 8px;
    height: 8px;
    background-color: #ffe4e6;
    border-radius: 50%;
}


.blue{
    
}
.pan{
    color: white;
}
.obwi{
    display: flex;
    justify-content:center;
    background-color: #0b1d33;
    height: 400px;
    width: 100%;
    color: white;
    font-size: 20px;
    gap: 150px;
    line-height: 40px;
    padding-top: 100px;
    
}

